@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.move-top {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;

  &__btn {
    @include flexCenter;
    padding: 4px;
    border: 1px solid var(--mode-color);
  }

  &__icon {
    transition: transform $primaryDuration;
  }

  &__btn:hover &__icon {
    transform: translateY(-2px);
  }
}