@import './reset';

@import './utils/vars';

:root {
  --light-color: #e6e7ed;
  --dark-color: #222222;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  --mode-color: var(--dark-color);

  &.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
    --mode-color: var(--light-color);
  }
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  position: relative;
}

@import './blocks/page';
@import './blocks/container';